contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 1.0.16
    packID: PaloAltoNetworks_IoT
    packName: IoT by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook creates a ServiceNow ticket after the incident is enriched
  by Palo Alto Networks IoT security portal (previously Zingbox Cloud).
id: PANW IoT Incident Handling with ServiceNow
inputs:
- description: The list name defined in the XSOAR Lists for the RACI and ServiceNow
    calculation.
  key: IoTConfigListName
  playbookInputQuery: null
  required: false
  value:
    simple: IOT_CONFIG
- description: Determines if a ServiceNow ticket should be created based on the RACI
    calculation. Set to True to create an incident.
  key: CreateServiceNowTicket
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
name: PANW IoT Incident Handling with ServiceNow
outputs:
- contextPath: PaloAltoNetworksIoT
  description: This path will have field "device" for the device details and "raci"
    if the command "iot-security-get-raci" has output.
  type: string
- contextPath: ServiceNow.Record
  description: The ServiceNow record after creating the ServiceNow ticket.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b49efade-d3b4-4113-8f8f-8bfa278956f6
      iscommand: false
      name: ""
      version: -1
    taskid: b49efade-d3b4-4113-8f8f-8bfa278956f6
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 82d2db59-0b8e-4e89-8c03-adbecf1eddd9
      iscommand: false
      name: Incident Enrichment
      type: title
      version: -1
    taskid: 82d2db59-0b8e-4e89-8c03-adbecf1eddd9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 195
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        simple: ${incident.labels.deviceid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Palo Alto Networks IoT
      description: IoT get device command - get a single device details.
      id: 4fb395f3-072b-4719-8cec-be1f6dc702c0
      iscommand: true
      name: Get Device Details from IoT Server
      script: Palo Alto Networks IoT|||iot-security-get-device
      type: regular
      version: -1
    taskid: 4fb395f3-072b-4719-8cec-be1f6dc702c0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 515
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b12a7728-2e6d-40b0-8186-26dc0ed078b6
      iscommand: false
      name: Applying RACI model
      type: title
      version: -1
    taskid: b12a7728-2e6d-40b0-8186-26dc0ed078b6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 690
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      alert_name:
        simple: ${incident.name}
      category:
        simple: ${PaloAltoNetworksIoT.Device.category}
      model:
        simple: ${PaloAltoNetworksIoT.Device.model}
      profile:
        simple: ${PaloAltoNetworksIoT.Device.profile}
      raw_type:
        simple: ${incident.rawType}
      vendor:
        simple: ${PaloAltoNetworksIoT.Device.vendor}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: IoT RACI model script
      id: 2185d265-79b6-4c3c-8072-e07af5df536b
      iscommand: false
      name: Calculate RACI
      script: iot-security-get-raci
      type: regular
      version: -1
    taskid: 2185d265-79b6-4c3c-8072-e07af5df536b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1010
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9b974236-9370-4e30-81a0-a3b860afe2a4
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 9b974236-9370-4e30-81a0-a3b860afe2a4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1885
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: lists.IOT_CONFIG
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether the IOT_CONFIG is defined.
      id: c8b4ea7e-efc0-410d-820b-e54f4b7e2bc3
      iscommand: false
      name: IOT_CONFIG list configured?
      type: condition
      version: -1
    taskid: c8b4ea7e-efc0-410d-820b-e54f4b7e2bc3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 835
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${PaloAltoNetworksIoT.RACI.r_snow.table}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      id: be71d420-9199-41ce-8cee-31f7db39a642
      iscommand: false
      name: ServiceNow Table Exists?
      script: Exists
      type: condition
      version: -1
    taskid: be71d420-9199-41ce-8cee-31f7db39a642
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1360
        }
      }
  "8":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: ServiceNow Table Name
      output:
        simple: ${PaloAltoNetworksIoT.RACI.r_snow.table}
    - incidentfield: ServiceNow Record ID
      output:
        simple: ${ServiceNow.Record.ID}
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      custom_fields:
        simple: ${PaloAltoNetworksIoT.RACI.r_snow.custom_fields}
      fields:
        simple: ${PaloAltoNetworksIoT.RACI.r_snow.fields}
      table_name:
        simple: ${PaloAltoNetworksIoT.RACI.r_snow.table}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ServiceNow v2
      description: Creates a new record in the specified ServiceNow table.
      id: aca86a67-dc23-4563-833f-1307866b85e1
      iscommand: true
      name: servicenow-create-record
      script: ServiceNow v2|||servicenow-create-record
      type: regular
      version: -1
    taskid: aca86a67-dc23-4563-833f-1307866b85e1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1535
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check the device and incident details.
      id: 849b6d99-d818-4697-8eef-f34dcf7068cc
      iscommand: false
      name: Manual investigation
      type: regular
      version: -1
    taskid: 849b6d99-d818-4697-8eef-f34dcf7068cc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1710
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: ServiceNow v2
                root: modules
                transformers:
                - args:
                    field:
                      value:
                        simple: state
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: active
      - - left:
            iscontext: true
            value:
              simple: inputs.CreateServiceNowTicket
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6009c81d-2e7e-40ed-855b-e2ae2602cfac
      iscommand: false
      name: Is ServiceNow v2 enabled and create ServiceNow ticket?
      type: condition
      version: -1
    taskid: 6009c81d-2e7e-40ed-855b-e2ae2602cfac
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1185
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Palo Alto Networks IoT
                root: modules
                transformers:
                - args:
                    field:
                      value:
                        simple: state
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 56eb6d5f-4d68-45c2-81a9-2bbad47d32eb
      iscommand: false
      name: Is Palo Alto Networks IoT Enabled?
      type: condition
      version: -1
    taskid: 56eb6d5f-4d68-45c2-81a9-2bbad47d32eb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 340
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1900,
        "width": 492.5,
        "x": 50,
        "y": 50
      }
    }
  }
