contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.1.25
    packID: Carbon_Black_Enterprise_Response
    packName: Carbon Black Enterprise Response
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook retrieves a binary file by its MD5 hash from the Carbon
  Black telemetry data.
id: Get the binary file from Carbon Black by its MD5 hash
inputs:
- description: MD5 hash of the binary file to be retrieved.
  key: MD5
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: MD5
      root: File
name: Get the binary file from Carbon Black by its MD5 hash
outputs:
- contextPath: File.Size
  description: The size of the file.
  type: number
- contextPath: File.Type
  description: The type of the file.
  type: string
- contextPath: File.Info
  description: General information of the file.
  type: string
- contextPath: File.MD5
  description: The MD5 hash of the file.
  type: string
- contextPath: File.SHA1
  description: The SHA1 hash of the file.
  type: string
- contextPath: File.SHA256
  description: The SHA256 hash of the file.
  type: string
- contextPath: File.SHA512
  description: The SHA512 hash of the file.
  type: string
- contextPath: File.SSDeep
  description: The file SSDeep.
  type: string
- contextPath: File.Name
  description: The file name.
  type: string
- contextPath: File.EntryID
  description: File entry ID.
  type: string
- contextPath: File.Extension
  description: The file extension.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 64f62e76-d158-4d5a-8b02-a273e6f3b545
      iscommand: false
      name: ""
      version: -1
    taskid: 64f62e76-d158-4d5a-8b02-a273e6f3b545
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "2"
      "yes":
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: carbonblack-v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'.
      id: 2af5f32e-9d78-4753-81e3-6be566ecf9fd
      iscommand: false
      name: 'Is VMware Carbon Black EDR v2 enabled? '
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 2af5f32e-9d78-4753-81e3-6be566ecf9fd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 230
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f0b5b288-8a80-4828-8d85-585db9400a03
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: f0b5b288-8a80-4828-8d85-585db9400a03
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1010
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.MD5
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 906150a0-7387-437f-8bc7-998e2f0dc517
      iscommand: false
      name: Is the MD5 hash provided?
      type: condition
      version: -1
    taskid: 906150a0-7387-437f-8bc7-998e2f0dc517
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 770,
          "y": 460
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      md5:
        complex:
          root: inputs.MD5
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieve a binary from CarbonBlack based on its hash. Returns a
        .zip file containing the requested file and its metadata.
      id: 417a3cd6-63f9-4c91-86f8-8e6903c288ca
      iscommand: true
      name: Get the binary file from Carbon Black by its MD5 hash
      script: '|||cb-binary-download'
      type: regular
      version: -1
    taskid: 417a3cd6-63f9-4c91-86f8-8e6903c288ca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 980,
          "y": 660
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_2_no": 0.66,
      "3_2_#default#": 0.46
    },
    "paper": {
      "dimensions": {
        "height": 1025,
        "width": 910,
        "x": 450,
        "y": 50
      }
    }
  }
