contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 1.0.2
    packID: WindowsForensics
    packName: Windows Forensics
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook leverages the Windows built-in PowerShell and WinRM capabilities
  to connect to a Windows host to acquire and export the registry as forensic evidence
  for further analysis. The capture can be for the entire registry or for a specific
  hive or path.
id: PS-Remote Get Registry
inputs:
- description: A single hostname or IP address from which to export the registry file.
    For example, testpc01.
  key: Host
  playbookInputQuery: null
  required: false
  value: {}
- description: The registry hive/path to export. If no value is specified, the entire
    registry will be exported.
  key: RegistryHive
  playbookInputQuery: null
  required: false
  value:
    simple: all
- description: |-
    The path on the hostname on which to create the registry file. The default path will be c:\registry.reg.
    If the AddHostNameToFile input is "true", the file downloaded to XSOAR will contain the hostname.
  key: FilePath
  playbookInputQuery: null
  required: false
  value:
    simple: c:\registry.reg
- description: Specify "true" to zip the reg file before sending it to XSOAR.
  key: ZipRegistry
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Specify "true" for the downloaded filename to contain the hostname,
    or "false" to keep the filename as configured in the FilePath argument.
  key: AddHostNameToFile
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
name: PS-Remote Get Registry
outputs:
- contextPath: RegistryDetails
  description: The Registry file details.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 66e0dc4d-1223-4668-8d35-35f645699e76
      iscommand: false
      name: ""
      version: -1
    taskid: 66e0dc4d-1223-4668-8d35-35f645699e76
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 90
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: PowerShell Remoting
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise,
        returns 'no'
      id: eee3be21-cdfb-49e3-8a6b-00ad537bada1
      iscommand: false
      name: Is PowerShell Remoting enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: eee3be21-cdfb-49e3-8a6b-00ad537bada1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 230
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 33ae149a-7cfb-4323-8cd8-46ce2ea0a40d
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 33ae149a-7cfb-4323-8cd8-46ce2ea0a40d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2240
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Host
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ebb866b3-d6a5-41b6-8f84-f45aeeb7f7fe
      iscommand: false
      name: Was a host specified?
      type: condition
      version: -1
    taskid: ebb866b3-d6a5-41b6-8f84-f45aeeb7f7fe
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 220,
          "y": 430
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      file_path:
        simple: ${inputs.FilePath}
      host:
        simple: ${inputs.Host}
      reg_key_hive:
        simple: ${inputs.RegistryHive}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This command exports the specified registry of hive to a file.
      id: 093c8c39-ca13-4c1a-8c35-24d95aae0eb6
      iscommand: true
      name: PS-Remote export registry
      script: '|||ps-remote-export-registry'
      type: regular
      version: -1
    taskid: 093c8c39-ca13-4c1a-8c35-24d95aae0eb6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 970
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      check_hash:
        simple: "true"
      host:
        simple: ${inputs.Host}
      host_prefix:
        simple: ${inputs.AddHostNameToFile}
      path:
        simple: ${inputs.FilePath}
      zip_file:
        simple: ${inputs.ZipRegistry}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Download a file from the remote endpoint.
      id: 95b830c0-15a0-4f95-83f0-ab00f0d0788d
      iscommand: true
      name: PS-Remote download file
      script: '|||ps-remote-download-file'
      type: regular
      version: -1
    taskid: 95b830c0-15a0-4f95-83f0-ab00f0d0788d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1330
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.FilePath
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 71b144fb-c439-4e81-85fa-cd0fe8dce5f0
      iscommand: false
      name: Was a registry file path specified?
      type: condition
      version: -1
    taskid: 71b144fb-c439-4e81-85fa-cd0fe8dce5f0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 110,
          "y": 680
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      seconds:
        simple: "30"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds.
      id: 23d533b8-20a3-4a66-892c-88a0edb7347b
      iscommand: false
      name: Sleep
      script: Sleep
      type: regular
      version: -1
    taskid: 23d533b8-20a3-4a66-892c-88a0edb7347b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1160
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ZipRegistry
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 87ae39e1-4d19-4098-8b71-f398af90dbd1
      iscommand: false
      name: Was file zipped?
      type: condition
      version: -1
    taskid: 87ae39e1-4d19-4098-8b71-f398af90dbd1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1500
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isEqualString
              right:
                value:
                  simple: zip
          root: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Unzip a file using fileName or entryID to specify a file. Unzipped
        files will be loaded to the War Room and names will be put into the context.
      id: 3180f174-9786-4f3f-89bd-69299956c169
      iscommand: false
      name: Unzip file
      script: UnzipFile
      type: regular
      version: -1
    taskid: 3180f174-9786-4f3f-89bd-69299956c169
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -340,
          "y": 1700
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: RegistryDetails
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isEqualString
              right:
                value:
                  simple: reg
          root: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: d4e25d33-b379-435f-8b07-4116be9a39cb
      iscommand: false
      name: Set registry file details
      script: Set
      type: regular
      version: -1
    taskid: d4e25d33-b379-435f-8b07-4116be9a39cb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 2070
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      entryIDs:
        complex:
          accessor: EntryID
          root: File
          transformers:
          - operator: LastArrayElement
      entryTags:
        simple: Registry
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.entriesTags.set
      id: 7bc93731-ece1-467a-8297-ccbea27db218
      iscommand: true
      name: Mark and tag registry
      script: Builtin|||setEntriesTags
      tags:
      - Registry
      type: regular
      version: -1
    taskid: 7bc93731-ece1-467a-8297-ccbea27db218
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1895
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2215,
        "width": 1170,
        "x": -340,
        "y": 90
      }
    }
  }
